.app-header {
    display: flex;
    background-color: #282c34;
    color: #61dafb;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    height: 8rem;
}

.app-header > a {
    display: flex;
    color: #61dafb;
    align-items: center;
}

.app-logo {
    pointer-events: none;
    height: 5rem;
}

.app-navigation {
    display: flex;
    background-color: #3b3b4a;
    color: #4e4e67;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.app-navigation > a {
    color: #d0f5ff;
    font-size: calc(1px + 2vmin);
    font-weight: bold;
    margin: 0 1.75rem;
}


@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
