.app {
    text-align: center;
}

.app-header {
    display: flex;
    background-color: #282c34;
    color: #61dafb;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    height: 8rem;
}

.app-logo {
    pointer-events: none;
    height: 5rem;
}

.app-link {
    display: flex;
    color: #61dafb;
    align-items: center;
    text-decoration: none;
}

.app-navigation {
    display: flex;
    background-color: #3b3b4a;
    color: #4e4e67;
    height: 4rem;
}

.app-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vmin;
}

.app-section > p {
    color: white;
    font-size: calc(10px + 1vmin);
}


@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
